<section class="d-flex align-items-center mt-5 pt-4">
    <div class="container">
        <div class="row">
            <div class="gallery col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="filter ">
                    <button class="btn btn-default filter-button rounded-pill" data-filter="all">All</button>
                    <button class="btn btn-default filter-button rounded-pill" data-filter="hdpe">Normal</button>
                    <button class="btn btn-default filter-button rounded-pill" data-filter="sprinkle">Flying</button>
                    <button class="btn btn-default filter-button rounded-pill" data-filter="spray">Fire</button>
                    <button class="btn btn-default filter-button rounded-pill" data-filter="irrigation">Ice</button>
                </div>
            </div>
            <app-pokemon-card></app-pokemon-card>
        </div>
    </div>
</section>
