.title {
    font-size: 36px;
    text-align: center;
    font-weight: 500;
    margin-bottom: 2rem;
}
.filter {
    text-align: center;
}

.btn-default:active .filter-button:active
{
    background-color: #42B32F;
    color: white;
}
