<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-transparant"  >
    <div class="container-fluid">
      <img src="../../../assets/logo.svg" style="width: 120px; padding: 0.1rem;" class="logo" alt="Logo Pokemon">
      <div class="collapse navbar-collapse justify-content-end" id="navbarTogglerDemo02"></div>
    </div>
    <div class="collapse navbar-collapse justify-content-end p-2" id="navbarTogglerDemo02">
        <input class="form-control py-2 rounded-pill mr-1 pr-5" type="search" placeholder="Search Pokemon" id="example-search-input">
        <span class="input-group-append">
            <button class="btn rounded-pill border-0 ml-n5" type="button">
                <fa-icon [icon]="faSearch"></fa-icon>
            </button>
        </span>
    </div>
</nav>