<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-transparant"  >
    <div class="container-fluid">
      <img src="../../../assets/logo.svg" style="width: 120px; padding: 0.1rem;" class="logo" alt="Logo Pokemon">
      <div class="collapse navbar-collapse justify-content-end" id="navbarTogglerDemo02"></div>
    </div>
    <div class="collapse navbar-collapse justify-content-end p-2" id="navbarTogglerDemo02">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link  text-dark" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-dark" href="#">Link</a>
            </li>
          </ul>
    </div>
</nav>
