<div class="col-lg-auto col-md-auto col-xs-6 mb-5 " >
  <div class="bg-white rounded shadow poke-card">
    <div class="img-hero">
        <img [src]="data.sprites.other.dream_world.front_default" [alt]="data.name" class="img-fluid card-img-top" >
    </div>
    <div class="p-4">
      <h5> <a href="#" class="text-dark">{{data.name | titlecase}}</a></h5>
      <p class="small text-muted mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit</p>
      <div class="d-flex align-items-center justify-content-start rounded-pill bg-white py-2 mt-2 types">
        <div class="badge p-2 mr-1 rounded-pill font-weight-normal type-{{type.type.name}}" *ngFor="let type of data.types">{{type.type.name | titlecase}}</div>
      </div>
    </div>
  </div>
</div> 
