<div class="modal-header">
    <h4 class="modal-title">#0{{pokemon.id}} {{pokemon.name | titlecase}}</h4>
    <button type="button" class="btn btn-outline-danger" (click)="activeModal.close('Close click')">Close</button>
</div>
<div class="modal-body">
    <div class="container">

        <div class="row">
            <div class="col-md-4 ">
                <div class="img-hero p-2">
                    <img [src]="pokemon.sprites.other.dream_world.front_default" alt={{pokemon.name}} class="img-fluid card-img-top" style="height: 115px;">
                </div>
            </div>
            <div class="col-md-8 about-pokemon">
                <h4 >About</h4>
                <div class="row ">
                    <p class="col-md-6 my-1 label" >Height</p>
                    <p class="col-md-6 my-1">{{pokemon.height/10}} m</p>                   
                </div>
                <div class="row">
                    <p class="col-md-6 my-1 label" >Weight</p>
                    <p class="col-md-6 my-1">{{pokemon.weight/10}} kg</p>                   
                </div>
                <div class="row">
                    <p class="col-md-6 mt-1 mb-2 label">Abilities</p>
                    <p class="col-md-6 mt-1 mb-2">{{getAbilities() | titlecase}}</p>                   
                </div>
                <div class="row" >
                    <p class="col-md-6 my-1 label">Types</p>
                    <p class="col-md-6 mt-1 mb-2">{{getTypes() | titlecase}}</p>                   
                </div>
            </div>
        </div>

        <div>
            <h4 class="mb-3" >Base Statistics</h4>
            <div class="stat-pokemon" *ngFor="let stat of pokemon.stats">
                <div class="row">
                    <p class="col-md-4 my-1 text-muted">{{stat.stat.name | titlecase}}</p>
                    <div class="col-md-8 my-1">
                        <div class="progress" >
                            <div class="progress-bar bg-info" role="progressbar" attr.aria-valuenow={{stat.base_stat}} aria-valuemin="0" aria-valuemax="100" [style.width.%]="stat.base_stat">
                                {{stat.base_stat}} %
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div> 
</div>
