<div class="modal-header">
    <h4 class="modal-title">#0{{pokemon.id}} {{pokemon.name | titlecase}}</h4>
    <button type="button" class="btn btn-outline-danger" (click)="activeModal.close('Close click')">Close</button>
</div>
<div class="modal-body">
    <div class="container">

        <div class="row">
            <div class="col-md-5 ">
                <div class="img-hero p-2">
                    <img [src]="pokemon.sprites.other.dream_world.front_default" alt={{pokemon.name}} class="img-fluid card-img-top" style="height: 115px;">
                </div>
            </div>
            <div class="col-md-7">
                <h4 >About</h4>
                <div class="row ">
                    <p class="col-md-6 my-1 text-muted" style="text-align:right;">Height</p>
                    <p class="col-md-6 my-1">{{pokemon.height}} mm</p>                   
                </div>
                <div class="row">
                    <p class="col-md-6 my-1 text-muted" style="text-align:right;">Weight</p>
                    <p class="col-md-6 my-1">{{pokemon.weight}} hg</p>                   
                </div>
                <div class="row">
                    <p class="col-md-6 mt-1 mb-2 text-muted"style="text-align:right;">Abilities</p>
                    <p class="col-md-6 mt-1 mb-2">{{getAbilities() | titlecase}}</p>                   
                </div>
                <div class="row" >
                    <p class="col-md-6 my-1 text-muted"style="text-align:right;">Types</p>
                    <div class="badge badge-danger p-2 mr-1 rounded-pill" *ngFor="let type of pokemon.types">{{type.type.name | titlecase}}</div>
                </div>
        </div>
    </div>
</div>
