<section id="hero" class="d-flex align-items-center">
    <div class="container">
      <div class="row">
        <div class="col-lg-5 d-lg-flex flex-lg-column justify-content-center align-items-stretch pt-5 pt-lg-0 order-2 order-lg-1" data-aos="fade-up">
          <div>
            <h1>Gotta Catch 'Em All!</h1>
            <h2>Lorem ipsum dolor sit amet, tota senserit percipitur ius ut.</h2>
            <a routerLink="/pokemon" type="button" class="btn btn-dark btn-lg rounded-pill">Get Pokemon</a>
          </div>
        </div>
        <div class="col-lg-7 d-lg-flex flex-lg-column align-items-end order-1 order-lg-2 hero-img" data-aos="fade-up">
          <img src="assets/pokemon.svg" class="img-fluid ml-auto p-2 " alt="Pikachu Hero">
        </div>
      </div>
    </div>
</section>
